.contenedor {
    text-align:left;     /*alineacion de contenedor */
    margin-top: 15%;     /* Espacio superior responsive */
    
    padding: 10%;
   }
   
  .images {
    position: relative;
    width: 300px;
  }
  
  .images img {
    width: 100%;
    height: auto;
  }

  #fotoPerfil {
    width: 40%;         /* Ancho responsive */
    height: auto;       /* Altura proporcional */
    margin-left: 10%;    /* Mueve la imagen hacia la derecha */
   }
  
  .images img:nth-child(1) {
    position: absolute;
  }
  
  .images img:nth-child(2) {
    position: absolute;
    animation-name: spin1;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
  }
 

  @keyframes spin1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }