.contenedorgeneral {
  display: flex;
  flex-wrap: nowrap;
  border-style: solid;
  width: auto;
  height: 22vh;
  padding: 0;
  margin: 0;
  margin-top: 20%;
  
}

/* contenedor imagenes*/
.images {
  position: relative;
  width: 50%; 
  height: 21vh; 
}

/* contenedor texto */
.texto {
  position: relative;
  width: 50%; 
  height: 21vh; 
  border-style: solid;
  text-align: center;
}

.images img {

  position: absolute; /* Superpone todas las imágenes */ 
  top: 7%; /*Alinea al inicio del contenedor */
  left: 15%; /*Alinea al inicio del contenedor */
  width: 70%; /*Ajusta al ancho del contenedor */
  height: 85%; /*Ajusta a la altura del contenedor */
  
}

/* foto */
#fotoPerfil { 
position: absolute; 
z-index: 2; /*Eleva esta imagen por encima de otras */
left: 20%; 
top: 13%; 
  } 

#circulo { 
position: static; 
width: 105%;
height: auto;
  } 

.images img:nth-child(2) {
  animation-name: spin1;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1; /* Asegúrate de que esta esté detrás de #fotoPerfil */
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
