/* modo ordenador */
#barraNavegacion {
  display: flex;
  justify-content: space-between;
  background-color: green;
  width: 100%;
  margin: 0;
  padding: 0;
}

.botonX {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  cursor: pointer;
  position: relative;
}

.botonX .Linea {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #015f1e;
  transition: all 0.3s;
}

/* Líneas horizontales por defecto */
.botonX .Linea:nth-child(1) {
  transform: translateY(-5px);
}

.botonX .Linea:nth-child(2) {
  transform: translateY(5px);
}

/* Transformaciones cuando está activo */
.botonX.active .Linea:nth-child(1) {
  transform: rotate(45deg);
}

.botonX.active .Linea:nth-child(2) {
  transform: rotate(-45deg);
}


#Modos {
  padding: 10px 14px;
  font-size: 14px;
  max-width: 120px;
  max-height: 50px;
}

.botonX ul {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: green;
  margin: 0;
  padding: 10px;
  list-style: none;
  width: 150px;
  z-index: 3; 
}

.lista {
  padding: 8px;
}

@media (max-width: 600px) {

  #barraNavegacion {
      display: flex;
      justify-content: space-between;
      background-color: green;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    
    #Modos {
      padding: 10px 14px;
      font-size: 14px;
      max-width: 120px;
      max-height: 50px;
    }

    .botonX {
      position: relative;
    }
    
    .botonX ul {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: green;
      margin: 0;
      padding: 10px;
      list-style: none;
      width: 150px;
      z-index: 3; 
    }
    
    .lista {
      padding: 8px;
    }
  
  }
  