#barraNavegacion {
    display: flex;
    justify-content: space-between;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #Modos {
    padding: 10px 14px;
    font-size: 14px;
    max-width: 120px;
    max-height: 50px;
  }
  
  #Hamburguesa {
    padding: 12px;
    font-size: 14px;
  }
  
  #botonLista {
    position: relative;
  }
  
  #botonLista ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: green;
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 150px;
  }
  
  .lista {
    padding: 8px;
  }