<Section id="Tecnologías">
  <div class="subt"><h2>Tecnologías</h2></div>
  
  <div class="contenedor">
   <img src="assets\xhtml.png" alt="">
   <img src="assets\xpngwing.com.png" alt="">
   <img src="assets\xjs.png" alt="">
   <img src="assets\xnode2.png" alt="">
   <img src="assets\xangular.png" alt="">
   <img src="assets\xwordpress2.png" alt="">
   <img src="assets\xelementor.png" alt="">
   <img src="assets\xgit.png" alt="">
   <img id="json" src="assets\xjson2.png" alt="">
   <img src="assets\xfirebase.png" alt="">
   <img src="assets\xvscode.png" alt="">
   <img src="assets\xlinea.png" alt="">
   <img src="assets\xgimp.png" alt="">
   <img src="assets\xexcel.png" alt="">   
   <img src="assets\xgoogle.png" alt="">
   <img src="assets\xteam.png" alt="">
  </div>
</Section>