<footer>
    <div class="contenedor1">
      <div id="texto">
        <p>Soy la mejor opción para tu proyecto y/o empresa. ¡No busques más! <br><br>
           Con experiencia en desarrollo web y habilidades en diseño UX/UI, ofrezco soluciones innovadoras y efectivas.
           Contáctame para llevar tu proyecto al siguiente nivel.</p>
      </div>
      <div>
        <h3>Sitio</h3>
        <ul>
             <li class="lista"><a href="#SobreMi">Sobre Mi</a></li>
             <li class="lista"><a href="#Tecnologías">Tecnologias</a></li>
             <li class="lista"><a href="#Proyectos">Proyectos</a></li>
             <li class="lista"><a href="#Contacto">Contacto</a></li>
        </ul>
       </div>
      <div>
        <h3>Redes</h3>
        <ul>
             <li class="lista"><a href="https://www.linkedin.com/in/jonathan-soza-45abb2332/" target="_blank">LinkedIn</a></li>
             <li class="lista"><a href="https://github.com/JhonnyyDev" target="_blank">GitHub</a></li>
        </ul>
      </div>
      <div>
        <h3>Contacto</h3>
        <ul>
             <li class="lista">Jhonnyydev&#64;gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="contenedor2">
      <div><p>Copyright © 2025 JhonnyyDev</p></div>
      <div><p>Powered by Angular</p></div>
    </div>
</footer>

