<section id="Contacto">
    <form>
        <div class="contenedor-inputs-a">
            <div class="input-group">
                <label for="nombre-empresa">Nombre de la Empresa</label>
                <input class="inputs-a" type="text" id="nombre-empresa" name="nombre-empresa" />
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input class="inputs-a" type="email" id="email" name="email" />
            </div>
        </div>
        <div class="contenedor-input-b">
            <label for="mensaje">Mensaje</label>
            <input type="text" id="mensaje" name="mensaje" />
        </div>
    </form>
</section>
