.subt {
    padding: 2%;
    padding-bottom: 0%;
    margin: 8%;
    margin-top: -7%;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.subt h2 {
    margin-bottom: 0%;
}

form {
    display: block;
    width: 50%; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 5%; /* Espaciado interno */
    border: 1px solid #ffffff; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #143d26; /* Color de fondo */
}

label {
    display: block; /* Hacer que el label sea un bloque */ 
    margin-bottom: 1%; /* Espaciado entre el label y el input */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.contenedor-inputs-a {
    display: flex; /* Usar flex */
    width: 100%;
    gap: 3%; /* Espacio entre los elementos */
}

.input-group {
    display: flex;
    flex-direction: column; /* Colocar label arriba y input abajo */
    width: 100%;
}

.inputs-a {
    width: 100%;
    border: 1px solid;
    padding: 2%; /* Espaciado interno */
    box-sizing: border-box; /* Asegurarse de que el padding y el borde se incluyan en el ancho total */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contenedor-input-b {
    margin-top: 3%;
}

#mensaje {
    width: 100%;
    height: 30vh; 
    padding: 1%;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#mensaje:focus { 
    border-color: #1d00c4;
    outline: none;
}