<section id="Contacto">
  <div class="subt"><h2>Contacto</h2></div>
  <!-- Vinculamos el formulario al FormGroup con [formGroup] -->
  <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
    <div class="contenedor-inputs-a">
      <div class="input-group">
        <label for="nombre-empresa">Nombre de la Empresa</label>
        <!-- Conectamos este input al FormControl "nombreEmpresa" -->
        <input class="inputs-a" type="text" id="nombre-empresa" formControlName="nombreEmpresa" autocomplete="name"/>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <!-- Conectamos este input al FormControl "email" -->
        <input class="inputs-a" type="email" id="email" formControlName="email" autocomplete="email"/>
      </div>
    </div>
    <div class="contenedor-input-b">
      <label for="mensaje">Mensaje</label>
      <!-- Conectamos este textarea al FormControl "mensaje" -->
      <textarea id="mensaje" formControlName="mensaje"></textarea>
    </div>
    <div id="botondiv">
      <!-- Desactivamos el botón si el formulario es inválido -->
      <button id="boton" type="submit" [disabled]="miFormulario.invalid">Enviar</button>
    </div>
  </form>
</section>
