<div id="contenedorsc1">
<Section id="SobreMi">
<h2>Sobre mi</h2>
<p>Soy Docente y Desarrollador Web con experiencia en SEO. Actualmente, me sigo formando de manera autodidacta para ampliar mis conocimientos. <br>
    Soy capaz de desarrollar aplicaciones y sitios web mediante código o utilizando WordPress para optimizar tiempos. 
    Mi experiencia como docente me ha permitido fortalecer mis habilidades blandas, especialmente en comunicación y trabajo en equipo. Actualmente, busco nuevas oportunidades que me permitan seguir aprendiendo y aportando valor.</p>
</Section>
</div>