<section id="Proyectos">
 <div class="subt"><h2>Proyectos</h2></div>
 <div class="contenedor">
  <div class="contenedor-tarjeta">
    <h3>¿Que se puede comer?</h3>
    <a href="https://quesepuedecomer.web.app/" target="_blank"><img src="assets\portfolio1.png" alt="fotoPortfolio1"></a>
    <p>Es una applicacion web para buscar recetas posibles, en base a lo que se disponga de ingredientes.</p>
    <ul><b>Tecnologias</b>
     <li>HTML</li>
     <li>CSS</li>
     <li>JavaScript</li>
     <li>Json</li>
     <li>Firebase</li>
    </ul>
  </div>
  <div class="contenedor-tarjeta">
    <h3>Business Website</h3>
    <a href="https://comodin.rf.gd" target="_blank"><img src="assets\portfolio2.png" alt="fotoPortfolio2"></a>
    <p>Es un sitio web empresarial de colchones.</p>
    <ul><b>Tecnologias</b>
     <li>HTML</li>
     <li>Wordpress</li>
     <li>Elementor</li>
     <li>GIMP</li>
    </ul>
  </div>
 </div>
</section>